body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
    padding: 0px;
  
    width: 1920px;
    display: inline-flex;
    background-color: #F5F5F5;
    
}

h1{
    color: #3BCCF6;
  
}

h3{
    color:#707070;
    padding-top: 20px;
    padding-bottom:20px;
    font-size: 24px;
}

h4,h2,h5{

    padding-left:50px;
    padding-top:10px;
}
#sideBar{
    background-color: white;
    width: 401px;
    height: 1200px;
    text-align: center;

}





li{
list-style-type: none;
padding-top: 50px;

}

li:nth-child(1){
    color:  #3BCCF6;
}

button{
    width: 200px;
    height: 55px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #6FE3FF;
    color: white;
    margin-top: 40px;
   
}
#dashBoard{
    margin-left: 100px;
    margin: 0px;
    width: 100%;
    height: 2000px;
    /* background-color: pink; */
}
#boxes{
    display: inline-flex;
    justify-content: space-between;
    width: 1391px;
    margin-left: 100px;
    /* background-color: violet; */

}
.dataBox{
    border-radius: 13px;
    width: 450px;
    height: 320px;
    background-color: blue;
    color: white;
   
}



#navBar{
    margin-top: -16px;
    height: 77px;
    width: 100%;
    background-color:white;
 
}

#table{
    border-radius: 13px;
    width: 1391px;
    margin-right: auto;
    margin-left: auto;
    height: 500px;
    background-color: white;
}

table{
    width: 100%;
    text-align: left;
  
    justify-content: space-evenly;
}

td, th{
    padding-top: 20px;
    padding-left: 50px;
}

td{
    width: 20%;
}